@import './overrides';

.header {
  background-color: $gray-100;
  display: flex;
  min-height: unset;

  .title-container {
    color: $gray-10;
    display: flex;
    flex-direction: column;
    width: 70%;

    @media (min-width: 1200px) {
      width: 40%;
    }
  }
}
